.Meteors {
    .infoContainer {
        position: absolute;
        display: none;
        background-color: #40424750;
        width: 24em;
        height: 28em;
        padding: 1.25em;
        overflow-y: scroll;
        pointer-events: all;
        left: 3em;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 16px;
        gap: 1em;
    }

    .infoContainer li {
        list-style: none;
        margin-left: 4px;
        opacity: 0.8;
        text-wrap: wrap;
    }

    .infoContainer.show {
        display: flex;
        flex-direction: column;
    }

    .resetBtn {
        pointer-events: all;
        position: absolute;
        left: 50%;
        top: 2em;
        transform: translateX(-50%);
        padding: 0.25em 1.25em;
        background-color: #40424750;
        outline: none;
        border: 2px solid white;
        color: white;
        border-radius: 1.25em;
        cursor: pointer;
        scale: 0;
        transition: all 200ms ease;
    }

    .resetBtn.show {
        scale: 1;
    }

    .resetBtn:hover {
        background-color: hsla(0, 100%, 100%, 20%);
    }
}
