.time-slider {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: end;
    align-items: center;
    justify-self: center;
    width: 100%;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.time-slider .slider {
    pointer-events: all;
    background-color: rgba(255, 255, 255, 0.7);
    width: 20em;
    height: 0.25em;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    border-radius: 16px;
}

.time-slider .slider .drag {
    --offset: 0px;
    position: absolute;
    background: no-repeat 50%/100% url(/icons/clock.svg);
    height: 1.5em;
    width: 1.5em;
    cursor: grabbing;
    left: calc(var(--offset) + 50%);
    transform: translateX(-50%);
    transition: all 50ms ease;
}

.time-slider .info {
    width: 100%;
    display: flex;
    gap: 1em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    gap: 2em;
    text-transform: uppercase;
    user-select: none;
}

.time-slider .info .date {
    width: 12ch;
}

.time-slider .info .live-btn {
    border: 2px solid white;
    padding: 1em 1.25em;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    max-height: 2rem;
    pointer-events: all;
    transition: border 200ms ease;
}

.time-slider .info .live-btn:hover {
    opacity: 1;
    border: 2px solid red;
    cursor: pointer;
}

.time-slider .info .live-btn p {
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.3ch;
}

.time-slider .info .live-btn .circle {
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: red;
}

.time-slider .info .live-btn.no-live .circle {
    background-color: gray;
}

.time-slider .simulation-speed {
    user-select: none;
    transition: opacity 400ms ease-in;
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    color: white;
    opacity: 0;
}
