@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  background-color: #0d0d0f;
  margin: 0;
  position: relative;
}

div#radar {
  width: 400px;
  height: 300px;
  border: 1px solid #807f8b;
  background-color: #0a0a0a;
  position: absolute;
  right: 6em;
  bottom: 5em;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  pointer-events: all;
}

.UI {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: white;
  pointer-events: none;
  /* padding: 3em; */
  z-index: 9999;
}

div#radar.bigger {
  width: 600px;
  height: 450px;
}

div#radar.smaller {
  width: 200px;
  height: 150px;
}

div#radar>button {
  width: 100%;
  margin: 0;
  bottom: auto;
  left: auto;
  position: relative;
  margin-bottom: 5px;
  padding: 0.5em 1em;
  pointer-events: all;
}

div#radar>div#radarContainer {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

div#searchBarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid #807f8b;
  background-color: #0a0a0a;
  padding: 5px;
  border-radius: 5px;
  width: 600px;
  max-width: 600px;
  pointer-events: all;
}

div#searchBarContainer>input {
  border: none;
  outline: none;
  background-color: #0a0a0a;
  color: #dcdbee;
  width: 100%;
  height: 50px;
  padding: 10px 15px 10px 15px;
  margin-right: 5px;
}

div#searchBarContainer>input::placeholder {
  color: #807f8b;
}

div#searchBarContainer>div#searchResultsContainer {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

div#searchBarContainer>div#searchResultsContainer>div.searchResult {
  padding: 15px;
  color: #807f8b;
  font-size: 14px;
  width: calc(100% - 5px);
  display: flex;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 5px;
  user-select: none;
  margin-right: 5px;
}

div#searchBarContainer>div#searchResultsContainer>div.searchResult:hover {
  background-color: #e9e9ed;
  color: black;
}

.meteorCreatorBtn {
  position: absolute;
  bottom: 5rem;
  left: 6rem;
  pointer-events: all;
  background-color: transparent;
  outline: none;
  border: 2px solid white;
  color: white;
  border-radius: 1.25em;
  padding: 0.5em 1.5em;
  font-size: 1.15em;
  transition: scale 300ms ease, transform 150ms ease, background-color 200ms ease;
  cursor: pointer;
}

.meteorCreatorBtn:hover {
  transform: scaleX(1.1);
  background-color: hsla(0, 100%, 100%, 20%);
}

.meteorCreatorBtn.active {
  scale: 0;
}

.meteorCreator {
  background-color: #40424750;
  color: white;
  position: absolute;
  border-radius: 0.5em;
  left: 5em;
  padding: 2em 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 10%;
  pointer-events: all;
  display: flex;
  transform: translate(-150%);
  transition: transform 300ms ease-in;
}

.meteorCreator.active {
  transform: translate(0);
}

.meteorCreator h2 {
  text-align: center;
  font-size: 1.25em;
}

.meteorCreator .displayContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}

.meteorCreator .displayContainer .display {
  width: 100%;
  height: 12em;
  /* background-color: #121212; */
  border-radius: 0.5em;
}

.meteorCreator .displayContainer .arrow {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  transition: scale 250ms ease;
}

.meteorCreator .displayContainer .arrow:hover {
  scale: 1.15;
}

.meteorCreator .displayContainer .arrow img {
  width: 100%;
  height: 100%;
}

.meteorCreator .categories {
  display: flex;
  width: 100%;
}

.parameters {
  border-radius: 0.5em;
  padding: 0.5em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.parameters h3 {
  text-align: center;
}

.parameters .categories .category {
  padding: 0px 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: border-bottom 0.5s ease;
  width: 50%;
  text-align: center;
}

.parameters .categories .category.active {
  border-bottom: 2px solid white;
}

.parameters .inputs {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.parameters .inputs .variant {
  transition: transform 0.5s ease;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: #afb0b6;
  font-weight: 500;
  flex: 1;
}

.parameters .inputs .variant label {
  user-select: none;
}

.parameters .inputs .variant input {
  outline: none;
  padding: 0.5em 1em;
  width: 10em;
  background: none;
  border: 1px solid #afb0b628;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  text-align: right;
}

.parameters .hitBtn {
  padding: 0.5em 1.5em;
  outline: none;
  color: hsl(0, 0%, 80%);
  background-color: hsla(0, 3%, 30%, 10%);
  text-transform: uppercase;
  border-radius: 0.9em;
  font-size: 1.05em;
  font-weight: bold;
  cursor: pointer;
  transition: all 600ms ease;
  border: 2px solid hsla(0, 3%, 70%, 10%);
}

.parameters .hitBtn:hover {
  /* background-color: hsla(4, 89%, 60%, 60%); */
  border: 2px solid red;
  color: hsl(4, 89%, 48%);
}

.meteorCreator .closeBtn {
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 2em;
  width: 1.25em;
  height: 1.25em;
  transition: scale 250ms ease-out;
}

.meteorCreator .closeBtn:hover {
  scale: 1.1;
}

.meteorCreator .closeBtn img {
  width: 100%;
  height: 100%;
}
