@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Saira", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  background-color: #0d0d0f;
  margin: 0;
  position: relative;
}

div#radar {
  width: 400px;
  height: 300px;
  border: 1px solid #807f8b;
  background-color: #0a0a0a;
  position: absolute;
  right: 6em;
  bottom: 5em;
  padding: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

div#radar.bigger {
  width: 600px;
  height: 450px;
}

div#radar.smaller {
  width: 200px;
  height: 150px;
}

div#radar>button {
  width: 100%;
  margin: 0;
  bottom: auto;
  left: auto;
  position: relative;
  margin-bottom: 5px;
  padding: 0.5em 1em;
  z-index: 5;
}

div#radar>div#radarContainer {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

div#searchBarContainer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  border: 1px solid #807f8b;
  background-color: #0a0a0a;
  padding: 5px;
  border-radius: 5px;
  width: 600px;
  max-width: 600px;
  z-index: 5;
}

div#searchBarContainer>input {
  border: none;
  outline: none;
  background-color: #0a0a0a;
  color: #dcdbee;
  width: 100%;
  height: 50px;
  padding: 10px 15px 10px 15px;
  margin-right: 5px;
}

div#searchBarContainer>input::placeholder {
  color: #807f8b;
}

div#searchBarContainer>div#searchResultsContainer {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

div#searchBarContainer>div#searchResultsContainer>div.searchResult {
  padding: 15px;
  color: #807f8b;
  font-size: 14px;
  width: calc(100% - 5px);
  display: flex;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 5px;
  user-select: none;
  margin-right: 5px;
}

div#searchBarContainer>div#searchResultsContainer>div.searchResult:hover {
  background-color: #e9e9ed;
  color: black;
}

.meteorCreatorBtn {
  padding: 0.5em 1em;
  position: absolute;
  bottom: 5em;
  left: 6em;
  z-index: 6;
}

.meteor-creator {
  background-color: #40424750;
  color: white;
  position: absolute;
  border-radius: 0.5em;
  left: 5em;
  padding: 2em 24px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  top: 10%;
  display: none;
}

.meteor-creator.active {
  display: block;
}

.meteor-creator h2 {
  text-align: center;
  font-size: 1.25em;
}

.meteor-creator .display-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.meteor-creator .display-container .display {
  width: 100%;
  height: 14em;
  background-color: #121212;
  border-radius: 0.5em;
}

.meteor-creator .display-container .arrow {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  transition: scale 250ms ease;
}

.meteor-creator .display-container .arrow:hover {
  scale: 1.15;
}

.meteor-creator .display-container .arrow img {
  width: 100%;
  height: 100%;
}

.meteor-creator .categories {
  display: flex;
  width: 100%;
}

.parameters {
  border-radius: 0.5em;
  padding: 0.5em 0;
  width: 100%;
}

.parameters h3 {
  text-align: center;
}

.parameters .categories .category {
  padding: 0px 1em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid black;
  cursor: pointer;
  transition: border-bottom 0.5s ease;
  width: 50%;
  text-align: center;
}

.parameters .categories .category.active {
  border-bottom: 2px solid white;
}

.parameters .inputs {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.parameters .inputs .variant {
  flex-shrink: 0;
  transition: transform 0.5s ease;
  padding: 1em;
  display: flex;
  flex-direction: column;
  color: #afb0b6;
  font-weight: 500;
}

.parameters .inputs .variant input {
  outline: none;
  padding: 0.5em 1em;
  width: 10em;
  background: none;
  border: 1px solid #afb0b628;
  border-radius: 0.25em;
  color: white;
  font-size: 1em;
  text-align: right;
}

.meteor-creator .close-btn {
  cursor: pointer;
  position: absolute;
  top: 2em;
  right: 2em;
  width: 1.25em;
  height: 1.25em;
  transition: scale 250ms ease-out;
}

.meteor-creator .close-btn:hover {
  scale: 1.1;
}

.meteor-creator .close-btn img {
  width: 100%;
  height: 100%;
}
