body {
  background-color: #0d0d0f;
  margin: 0;
}

div#radar {
  width: 400px;
  height: 300px;
  border: 1px solid #eeedff;
  background-color: #0a0a0a;
  position: absolute;
  left: calc(100% - 450px);
  top: calc(100% - 350px);
  padding: 10px;
}

div#radar>image#radarImage {
  width: 100%;
  height: 100%;
  background-color: red;
}